<%- include ("./partials/header")%>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <p>Thanks for your voluantary.<p> 
             <p>Blood Bank will contact you soon</p>
             <p>
                <a class="btn btn-primary btn-large" href="/">BACK to HOME</a>
             </p>
         </div>
     </header>




<%- include ("./partials/footer")%>